body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #177e4c;
  }
  
  .container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .sidebar {
    width: 30%;
    background-color:maroon;
    padding: 20px;
    box-shadow: 0 0 10px #0f463d;
  }
  
  .profile img {
    width: 100%;
    border-radius: 8px;
  }
  
  .profile h2 {
    margin: 10px 0 5px;
  }
  
  .profile p {
    color: #233eb573;
    margin: 5px 0;
  }
  
  .skills, .languages {
    margin-top: 30px;
  }
  
  .skills h3, .languages h3 {
    margin-bottom: 10px;
  }
  
  .progress {
    background-color: #c81ad1;
    border-radius: 20px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 15px;
  }
  
  .bar {
    height: 10px;
    background-color: rgba(0, 128, 128, 0.464);
  }
  
  .main-content {
    width: 70%;
    padding: 20px;
  }
  
  .main-content h2 {
    border-bottom: 2px solid teal;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .job, .school {
    margin-bottom: 20px;
  }
  
  .job h3, .school h3 {
    margin: 0;
  }
  
  .date {
    color: rgb(6, 0, 128);
    font-size: 14px;
  }
  
  .current {
    background-color: rgb(16, 7, 103);
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }